@import '../../assets/variables';

.home {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 0;
  }
  .direction-tabs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &__tab {
      background: #fff;
      color: $main-color;
      border-radius: 6px;
      width: 270px;
      &:hover {
        background: $main-color;
        color: #fff;
      }
    }
    :nth-child(1) {
      border-radius: 6px 6px 0 6px;
    }
    :nth-child(2) {
      border-radius: 0px 6px 6px 6px;
    }
  }

  .search-field__title {
    color: #fff;
  }
}

@media (max-width: 767.98px) {
  .home {
    &__container {
      max-width: 100%;
      padding-top: 20px;
      padding-bottom: 25px;

      .search-field__input {
        width: calc(100% + 20px);
      }
    }
    .direction-tabs {
      margin-top: 0;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;

      &__tab {
        width: 100%;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px) {
  .home {
    .direction-tabs {
      &__tab {
        width: 340px;
        font-size: 20px;
      }
    }
  }
}
